*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #1abc9c;
}

.button {
    width: 300px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}