*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    place-items: center;
    background: #1abc9c;
}

.divButton{
    width: 100%;
}

.button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}