*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: grid;
    height: 100%;
    place-items: center;
    background: #1abc9c;
}

.button {
    width: 300px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    #resume {
        width: 100%;
        object-fit: scale-down;
    }

    .divButton{
        width: 300px;
    }
    .button {
        width: 300px;
        padding: 10px;
        cursor: pointer;
    }
}